In [3]:
#import des librerie
import pandas as pd

In [4]:
#recuperation des données 
fichierName ='all_commodities_futures_collection.csv'
df = pd.read_csv(fichierName)

In [5]:
#Aperçu des données (10 premiers lignes)
df.head(10)

,ticker,commodity,category,date,open,high,low,close,volume
0,HE=F,Lean Hogs,Animal Products,2002-03-04,59.700001,59.875000,59.599998,59.650002,0
1,HE=F,Lean Hogs,Animal Products,2002-03-05,59.150002,59.150002,58.700001,58.799999,0
2,HE=F,Lean Hogs,Animal Products,2002-03-06,58.500000,58.799999,57.700001,57.700001,0
3,HE=F,Lean Hogs,Animal Products,2002-03-07,58.200001,58.599998,58.000000,58.400002,0
4,HE=F,Lean Hogs,Animal Products,2002-03-08,58.250000,58.250000,57.900002,58.049999,0
5,HE=F,Lean Hogs,Animal Products,2002-03-11,57.924999,58.025002,57.575001,57.575001,0
6,HE=F,Lean Hogs,Animal Products,2002-03-12,57.349998,57.549999,57.250000,57.275002,0
7,HE=F,Lean Hogs,Animal Products,2002-03-13,57.200001,57.200001,56.625000,56.700001,0
8,HE=F,Lean Hogs,Animal Products,2002-03-14,56.775002,56.825001,56.200001,56.724998,0
9,HE=F,Lean Hogs,Animal Products,2002-03-15,55.075001,55.224998,55.025002,55.075001,0

In [6]:
#Liste des colonnes
for col in df.columns:
    print(f"- {col}")

- ticker
- commodity
- category
- date
- open
- high
- low
- close
- volume

In [7]:
#Nombre d'observation 
print('Notre jeux de données comporte :')
print(df.shape[0], 'lignes')
print(df.shape[1], 'colonnes')

Notre jeux de données comporte :
135295 lignes
9 colonnes

In [8]:
#Type de chaque variable
print("types des variables: ")
df.info()

types des variables:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135295 entries, 0 to 135294
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   ticker     135295 non-null  object
 1   commodity  135295 non-null  object
 2   category   135295 non-null  object
 3   date       135295 non-null  object
 4   open       135295 non-null  float64
 5   high       135295 non-null  float64
 6   low        135295 non-null  float64
 7   close      135295 non-null  float64
 8   volume     135295 non-null  int64
dtypes: float64(4), int64(1), object(4)
memory usage: 9.3+ MB

In [9]:
# Convertir la colonne 'date' au format datetime
df['date'] = pd.to_datetime(df['date'])

In [10]:
#Plage de date
debut = df['date'].min()
fin = df['date'].max()

print("Date de début :", debut)
print("Date de fin :", fin)

Date de début : 2000-01-03 00:00:00
Date de fin : 2024-06-24 00:00:00

In [11]:
#Valeur manquante
df.isnull().sum()

ticker       0
commodity    0
category     0
date         0
open         0
high         0
low          0
close        0
volume       0
dtype: int64

In [12]:
#Creation de nouvelle colonne
#"daily_trend" :indique si le prix de clôture est plus élevé ou plus bas que le prix d’ouverture.

df['daily_trend'] = df.apply(
    lambda row: 'Positive' if row['close'] > row['open'] else ('Negative' if row['close'] < row['open'] else 'Neutral'),
    axis=1
)

In [13]:
#'volatility' mesure l'amplitude des variations de prix pour une commodité sur une journée.
df['volatility'] = ((df['high'] - df['low']) / df['open']) * 100

In [14]:
#relative_gap est l'écart moyen relatif entre les prix de clôture et d’ouverture, 
#qui montre la variation relative en pourcentage :
df['relative_gap'] = ((df['close'] - df['open']) / df['open']) * 100

In [15]:
#Apperçu des nouvelles colonnes
df[['volatility', 'daily_trend', 'relative_gap']].head()

   volatility daily_trend  relative_gap
0    0.460639    Negative     -0.083751
1    0.760779    Negative     -0.591720
2    1.880339    Negative     -1.367520
3    1.030925    Positive      0.343644
4    0.600856    Negative     -0.343349

In [16]:
#statistique
df.describe()

,date,open,high,low,close,volume,volatility,relative_gap
count,135295,135295.000000,135295.000000,135295.000000,135295.000000,1.352950e+05,135295.000000,135295.000000
mean,2012-09-22 04:45:27.373517056,430.655889,434.262222,427.086024,430.646209,3.398976e+04,2.100853,-0.013889
min,2000-01-03 00:00:00,-14.000000,0.507000,-40.320000,-37.630001,0.000000e+00,-218.571424,-312.239154
25%,2006-10-23 00:00:00,20.224999,20.400000,20.041000,20.193000,1.040000e+02,0.879423,-0.768389
50%,2012-11-02 00:00:00,110.500000,111.529999,109.500000,110.500000,2.663000e+03,1.791280,0.000000
75%,2018-09-12 00:00:00,588.750000,593.000000,584.000000,588.500000,3.070650e+04,2.877327,0.748876
max,2024-06-24 00:00:00,11967.000000,12261.000000,11132.000000,11878.000000,2.288230e+06,328.087995,48.108743
std,NaN,667.196460,674.097564,660.621961,667.494880,8.315627e+04,2.155053,2.004861

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135295 entries, 0 to 135294
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ticker        135295 non-null  object
 1   commodity     135295 non-null  object
 2   category      135295 non-null  object
 3   date          135295 non-null  datetime64[ns]
 4   open          135295 non-null  float64
 5   high          135295 non-null  float64
 6   low           135295 non-null  float64
 7   close         135295 non-null  float64
 8   volume        135295 non-null  int64
 9   daily_trend   135295 non-null  object
 10  volatility    135295 non-null  float64
 11  relative_gap  135295 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(4)
memory usage: 12.4+ MB

In [18]:
#Liste des commodity et des catégorie
print(df['commodity'].unique())
print(df['category'].unique())

['Lean Hogs' 'Live Cattle' 'Cocoa' 'Coffee' 'Cotton'
 'Random Length Lumber' 'Orange Juice' 'Sugar' 'Crude Oil' 'Heating Oil'
 'Natural Gas' 'RBOB Gasoline' 'Brent Crude Oil' 'Gold' 'Silver'
 'Platinum' 'Copper' 'Palladium' 'Corn' 'Oat' 'KC HRW Wheat' 'Rough Rice'
 'Soybean Oil' 'Soybean']
['Animal Products' 'Agricultural Commodities' 'Fossil Fuels'
 'Precious Metals' 'Grains and Cereals']

In [22]:
chemin ='C:/Users/yayet/OneDrive/Documents/Paris_1_panthéon_Sorbonne/DataViz/Projet_Streamlit/Data/data_net/commodities_market.csv'
df.to_csv(chemin, index=False, encoding="utf-8")
print(f"Fichier enregistré avec succès à : {chemin}")

Fichier enregistré avec succès à : C:/Users/yayet/OneDrive/Documents/Paris_1_panthéon_Sorbonne/DataViz/Projet_Streamlit/Data/data_net/commodities_market.csv